<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Emperador, {{ title }}</h1>
      <p>{{ descripcion }} 🎉</p>

      <button (click)="ocultarVideojuegos(false)" *ngIf="mostrar_videojuegos">
        Ocultar
      </button>
      <button (click)="ocultarVideojuegos(true)" *ngIf="!mostrar_videojuegos">
        Mostrar
      </button>

      <app-videojuegos *ngIf="mostrar_videojuegos"></app-videojuegos>
      <app-zapatillas />
    </div>
  </div>
</main>

<router-outlet />